:root {
  --background: #F5F5F5;
  --color-brand-orange: #FB6232;
  --badge-first-variant: #003569;
  --badge-second-variant: #269085;
  --badge-third-variant: #5993B9;
  --badge-fourth-variant: #9F009F;
  --badge-fifth-variant: #FFFFFF;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  scrollbar-gutter: stable;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-size: 24px;
  line-height: 130%;
  font-weight: 500;
}

.subtitle {
  width: 100%;
  text-align: start;
  color: #63666A;
  font-size: 14px;
  line-height: 170%;
  font-weight: 500;
}

.text-large {
  color: #63666A;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}

.text-medium {
  color: #63666A;
  font-size: 14px;
  line-height: 170%;
  font-weight: 400;
}

.text-small {
  font-size: 12px;
  line-height: 170%;
  font-weight: 300;
}

.heading {
  font-size: 60px;
  font-style: bold;
  font-weight: 700;
  line-height: 100%;
}

.heading-gradient {
  background: linear-gradient(98.5deg, #FF784E 0%, #FB347C 99.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  gap: 24px;
  overflow-y: auto;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 286px;
}

.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.input {
  font-family: 'Poppins', sans-serif;
  min-width: 500px;
  min-height: 78px;
  border: none;
  border-radius: 20px;
  padding-top: 10.5px;
  padding-right: 24px;
  padding-bottom: 10.5px;
  padding-left: 24px;
}
  
.button {
  min-width: 125px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
  background-color: var(--color-brand-orange);
  color: white;
}

.button-search {
  border-radius: 20px;
    min-height: 78px;
}

.button-slim {
  border-radius: 12px;
    min-height: 48px;
}

.badge {
  min-height: 24px;
  max-width: 90px;
  top: 20px;
  left: 20px;
  gap: 10px;
  border-radius: 8px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  background-color: var(--badge-first-variant);
  color: white;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 8px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.badge-first {
  background-color: var(--badge-first-variant);
}

.badge-second {
  background-color: var(--badge-second-variant);
}

.badge-third {
  background-color: var(--badge-third-variant);
}

.badge-fourth {
  background-color: var(--badge-fourth-variant);
}

.badge-fifth {
  background-color: var(--badge-fifth-variant);
  color: black;
}


.card {
  display: flex;
  flex-direction: column;
  
  width: 247px;
  height: 295px;
  gap: 16px;
  border-radius: 20px;
  border-width: 1px;
  padding: 16px;
  border: 1px solid #D3D3DC;
  background-color: #FFFFFF;
}

.url {
  text-decoration: underline;
  color: var(--color-brand-orange);
  font-size: 12px;
}


.modal {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 20px;
  min-width: 800px;
  min-height: 142px;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  gap: 16px;
}

.modal-close-container {
  display: flex;
  justify-content: flex-end;
}

.filter-container {
 width: 63%;
}

.filter {
  display: flex;
  justify-content: start;
  gap: 10px;
  flex-wrap: wrap;
}

.filter-separator {
   margin-top: 12px;
  border: 0.5px solid #63666A;
}

.search-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
}

