:root {
  --background: #F5F5F5;
  --color-brand-orange: #FB6232;
  --badge-admin: #003569;
  --badge-editor: #269085;
  --badge-viewer: #5993B9;
  --badge-guest: #9F009F;
  --badge-owner: #FFFFFF;
  --badge-inactive:  #FFFFFF;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  scrollbar-gutter: stable;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-size: 24px;
  line-height: 130%;
  font-weight: 500;
}

.subtitle {
  width: 100%;
  text-align: start;
  color: #63666A;
  font-size: 14px;
  line-height: 170%;
  font-weight: 500;
  margin-bottom: 12px;
}

.text-large {
  color: #63666A;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}

.text-medium {
  color: #63666A;
  font-size: 14px;
  line-height: 170%;
  font-weight: 400;
}

.text-small {
  font-size: 12px;
  line-height: 170%;
  font-weight: 300;
}

.text-small-bold {
  font-size: 12px;
  line-height: 170%;
  font-weight: 500;
}

.heading {
  font-size: 60px;
  font-style: bold;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 40px;
}

.heading-gradient {
  background: linear-gradient(98.5deg, #FF784E 0%, #FB347C 99.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  gap: 24px;
  overflow-y: auto;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 286px;
}

.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.input {
  font-family: 'Poppins', sans-serif;
  min-width: 500px;
  min-height: 78px;
  border: none;
  border-radius: 20px;
  padding-top: 10.5px;
  padding-right: 24px;
  padding-bottom: 10.5px;
  padding-left: 24px;
}
  
.button {
  min-width: 125px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.1em;
  cursor: pointer;
  border: none;
  background-color: var(--color-brand-orange);
  color: white;
  &:hover {
    opacity: 0.8;
  }
}

.button-search {
  border-radius: 20px;
  min-height: 78px;
}

.button-slim {
  border-radius: 12px;
    min-height: 48px;
}

.badge {
  min-height: 24px;
  max-width: 90px;
  top: 20px;
  left: 20px;
  gap: 10px;
  border-radius: 8px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  background-color: var(--badge-first-variant);
  color: white;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 12px;
  line-height: 8px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

.badge-clickable {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.badge-admin {
  background-color: var(--badge-admin);
}

.badge-editor {
  background-color: var(--badge-editor);
}

.badge-viewer {
  background-color: var(--badge-viewer);
}

.badge-guest {
  background-color: var(--badge-guest);
}

.badge-owner {
  background-color: var(--badge-owner);
  color: black;
}

.badge-inactive {
  background-color: var(--badge-inactive);
  color: black;
}

.badge-not-used {
  background-color: #cccccc;
  color: #666;
}

.card {
  display: flex;
  flex-direction: column;
  width: 247px;
  height: 295px;
  gap: 10px;
  border-radius: 20px;
  border-width: 1px;
  padding: 16px;
  border: 1px solid #D3D3DC;
  background-color: #FFFFFF;
}

.url {
  text-decoration: underline;
  color: var(--color-brand-orange);
  font-size: 12px;
}

.team-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 20px;
  min-width: 800px;
  min-height: 142px;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  gap: 12px;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(5px); 
  z-index: 0; 
}

.modal-close-container {
  display: flex;
  justify-content: flex-end;
}

.filter-container {
 width: 63%;
}

.filter {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 24px;
}

.clear-filter {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #f0f0f0;
  font-size: 14px;
  color: #666;
  border: 1px solid #ddd;
  &:hover {
    opacity: 0.8;
  }
}

.filter-separator {
   margin-top: 12px;
  border: 0.5px solid #63666A;
}

.search-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 24px;
  margin-bottom: 24px;
  min-height: 80vh;
}

.feedback-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
  max-height: 150px;
}

.feedback {
  display: flex;
  flex-direction: column;
  width: 247px;
  gap: 16px;
  border-radius: 20px;
  border-width: 1px;
  padding: 16px;
  border: 1px solid #D3D3DC;
  background-color: #FFFFFF;
  text-align: center;
}

.button-hidden {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  
  .heading {
  font-size: 40px;
}
  .subtitle {
   font-size: 12px;
   text-align: center;
   margin-bottom: 16px;
  }

  .input {
  min-width: 280px;
  min-height: 18px;
  border: none;
  border-radius: 12px;
  font-size: 12px;
}

.search-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.button-search {
  border-radius: 12px;
  min-height: 40px;
  min-width: 40px;
}

.button-slim {
  border-radius: 12px;
  min-height: 42px;
}

.filter {
  justify-content: space-evenly;
}
 
.modal {
  min-width: 400px;
}
  
}